<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        text=""
        defaultHref="/provider-app/home/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Crear producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="steps">
    <div class="steps__circle steps__circle--active">1</div>
    <div class="steps__line"></div>
    <div class="steps__circle">2</div>
    <div class="steps__line"></div>
    <div class="steps__circle">3</div>
  </div>
  <div class="create-product">
    <div class="create-product__item">
      <span>Nombre de la prenda</span>
      <input />
    </div>
    <div class="create-product__item">
      <span>Precio</span>
      <input />
    </div>
    <div class="create-product__item">
      <span>Stock</span>
      <input />
    </div>
  </div>
  <ion-button color="primary">Continuar</ion-button>
</ion-content>
