<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <div class="settings__item ripple-container">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Mi perfil</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="settings__item ripple-container">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="call-outline"></ion-icon>
      <span>Contáctenos</span>
    </div>
    <div class="settings__item ripple-container">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="share-social-outline"></ion-icon>
      <span>Comparte Gamarra</span>
    </div>
    <div
      class="settings__item settings__item--last ripple-container"
      routerLink="/login-user"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="exit-outline"></ion-icon>
      <span>Cerrar sesión</span>
    </div>
  </div>
</ion-content>
