<ion-tabs (ionTabsDidChange)="cdr.detectChanges()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [size]="8" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon [size]="8" name="search-outline"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping">
      <ion-icon [size]="8" name="cart-outline"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon [size]="8" name="person-outline"></ion-icon>
      <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
