<ion-content>
  <div class="login-bg">
    <div class="login">
      <ion-input placeholder="Ingrese usuario"></ion-input>
      <ion-input placeholder="Ingrese contraseña"></ion-input>
      <ion-button color="warning" routerLink="/app/home/home"
        >Ingresar</ion-button
      >
      <p>¿No tienes cuenta? <a>Registrate aquí</a></p>
      <ion-button color="warning" routerLink="/app/home/home"
        >Ingresar como invitado</ion-button
      >
    </div>
  </div>
  <img src="/assets/images/logo.png" />
</ion-content>
